<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{message}}</h5>
                <ol class="breadcrumbs">
                    <li><a href="#/">Dashboard</a></li>
                    <li><a href="#planejamentos">Planejamentos</a></li>
                    <li><a href="#planejamentos/{{id}}">Informações do Planejamento</a></li>
                    <li>{{message}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<div class="container">
    <div class="section">
        <p class="caption">Informações do Planejamento <strong>{{data.titulo}}</strong>.</p>
        <div class="divider"></div><br>
        <fieldset>
            <legend>Informações do Planejamento</legend>
            <h5><strong>Proprietário: </strong>{{data.cliente}}</h5>
            <h5><strong>Cidade: </strong>{{dataP.cidade}} / {{dataP.estado}}</h5>
            <h5><strong>Zona Rural: </strong> {{dataP.zona_rural}}</h5>
        </fieldset>
        <div class="divider"></div>
        <fieldset>
            <legend>Planejamento</legend>            
            <form>
                <input type="hidden" value="{{id}}" id="id">
                <input type="hidden" value="{{dataT.length}}" id="idTalhao">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="talhaoNome" type="text" class="validate">
                        <label for="talhaoNome">Nome do Talhão</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <input id="variedade" type="text" class="validate">
                        <label for="variedade">Variedade</label>
                    </div>
                    <div class="input-field col s6 m4 l4">
                        <input id="area_medida" type="text" class="validate">
                        <label for="area_medida">Área Medida</label>
                    </div>
                    <div class="input-field col s6 m4 l4">
                        <input id="populacao" type="text" class="validate">
                        <label for="populacao">População</label>
                    </div>
                    <div class="input-field col s6 m3 l3">
                        <input id="adubacao_plantio" type="text" class="validate">
                        <label for="adubacao_plantio">Adubação Plantio</label>
                    </div>
                    <div class="input-field col s6 m3 l3">
                        <input id="adubacao_cobertura" type="text" class="validate">
                        <label for="adubacao_cobertura">Adubação Cobertura</label>
                    </div>
                    <div class="input-field col s6 m3 l3">
                        <input id="regulagem_pulverizador" type="text" class="validate">
                        <label for="regulagem_pulverizador">Regulagem do Pulverizador</label>
                    </div>                
                    <div class="input-field col s6 m3 l3">
                        <input id="regulagem_plantandeira" type="text" class="validate">
                        <label for="regulagem_plantandeira">Regulagem da Plantadeira</label>
                    </div>                
                </div>
                <div id="planejamentoFinal">
                    <fieldset>
                        <legend>Dessecação<sup>1</sup></legend>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Planejado</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoD" class="validate materialize-textarea"></textarea>
                                        <label for="produtoD">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Realizado</legend>
                                    <div class="input-field col s12">
                                        <textarea id="dessecacao_realizado" class="validate materialize-textarea"></textarea>
                                        <label for="dessecacao_realizado">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>Plantio<sup>2</sup></legend>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Planejado por kg de sementes</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoP" class="validate materialize-textarea"></textarea>
                                        <label for="produtoP">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Realizado</legend>
                                    <div class="input-field col s12">
                                        <textarea id="plantio_realizado" class="validate materialize-textarea"></textarea>
                                        <label for="plantio_realizado">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>1 de Ultra<sup>3</sup></legend>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="um_ultra_estagio" type="text" class="validate">
                                    <label for="um_ultra_estagio">Estágio</label>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Padrão</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoU" class="validate materialize-textarea"></textarea>
                                        <label for="produtoU">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Inseticidas</legend>
                                    <div class="input-field col s12">
                                        <textarea id="um_ultra_inseticidas" class="validate materialize-textarea"></textarea>
                                        <label for="um_ultra_inseticidas">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>2 de Ultra<sup>4</sup></legend>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="dois_ultra_estagio" type="text" class="validate">
                                    <label for="dois_ultra_estagio">Estágio</label>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Padrão</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoTwoU" class="validate materialize-textarea"></textarea>
                                        <label for="produtoTwoU">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Inseticidas</legend>
                                    <div class="input-field col s12">
                                        <textarea id="dois_ultra_inseticidas" class="validate materialize-textarea"></textarea>
                                        <label for="dois_ultra_inseticidas">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>2<sup>o</sup> Fungicida</legend>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="segundo_fungicida_estagio" type="text" class="validate">
                                    <label for="segundo_fungicida_estagio">Estágio</label>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Padrão</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoF" class="validate materialize-textarea"></textarea>
                                        <label for="produtoF">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Fungicida</legend>
                                    <div class="input-field col s12">
                                        <textarea id="segundo_fungicida_fungicida" class="validate materialize-textarea"></textarea>
                                        <label for="segundo_fungicida_fungicida">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>3<sup>o</sup> Fungicida<sup>5</sup></legend>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="terceiro_fungicida_estagio" type="text" class="validate">
                                    <label for="terceiro_fungicida_estagio">Estágio</label>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Padrão</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoTwoF" class="validate materialize-textarea"></textarea>
                                        <label for="produtoTwoF">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Fungicida</legend>
                                    <div class="input-field col s12">
                                        <textarea id="terceiro_fungicida_fungicida" class="validate materialize-textarea"></textarea>
                                        <label for="terceiro_fungicida_fungicida">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                    <fieldset>
                        <legend>4<sup>o</sup> Fungicida<sup>6</sup></legend>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="quarto_fungicida_estagio" type="text" class="validate">
                                    <label for="quarto_fungicida_estagio">Estágio</label>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Padrão</legend>
                                    <div class="input-field col s12">
                                        <textarea id="produtoTreF" class="validate materialize-textarea"></textarea>
                                        <label for="produtoTreF">Produto - Dosagem</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s12 m6 l6">
                                <fieldset>
                                    <legend>Fungicida</legend>
                                    <div class="input-field col s12">
                                        <textarea id="quarto_fungicida_fungicida" class="validate materialize-textarea"></textarea>
                                        <label for="quarto_fungicida_fungicida">Dados</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>                
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button onclick="salvar()" class="btn green waves-effect waves-light left" type="submit" name="action">Salvar Planejamento
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>


<script>

    function salvar() {
        swal({title: "Salvando!",
            text: "Aguarde...",
            timer: 2000,
            showConfirmButton: false
        });
        var idTalhao = $('#idTalhao').val();
        var talhao = $('#talhaoNome').val();
        var variedade = $('#variedade').val();
        var area_medida = $('#area_medida').val();
        var populacao = $('#populacao').val();
        var adubacao_plantio = $('#adubacao_plantio').val();
        var adubacao_cobertura = $('#adubacao_cobertura').val();
        var regulagem_pulverizador = $('#regulagem_pulverizador').val();
        var regulagem_plantandeira = $('#regulagem_plantandeira').val();
        var dessecacao_realizado = $('#dessecacao_realizado').val();
        var plantio_realizado = $('#plantio_realizado').val();
        var um_ultra_estagio = $('#um_ultra_estagio').val();
        var um_ultra_inseticidas = $('#um_ultra_inseticidas').val();
        var dois_ultra_estagio = $('#dois_ultra_estagio').val();
        var dois_ultra_inseticidas = $('#dois_ultra_inseticidas').val();
        var segundo_fungicida_estagio = $('#segundo_fungicida_estagio').val();
        var segundo_fungicida_fungicida = $('#segundo_fungicida_fungicida').val();
        var terceiro_fungicida_estagio = $('#terceiro_fungicida_estagio').val();
        var terceiro_fungicida_fungicida = $('#terceiro_fungicida_fungicida').val();
        var quarto_fungicida_estagio = $('#quarto_fungicida_estagio').val();
        var quarto_fungicida_fungicida = $('#quarto_fungicida_fungicida').val();
        var id = $('#id').val();

        var produtoD = $('#produtoD').val();
        var produtoP = $('#produtoP').val();
        var produtoU = $('#produtoU').val();
        var produtoTwoU = $('#produtoTwoU').val();
        var produtoF = $('#produtoF').val();
        var produtoTwoF = $('#produtoTwoF').val();
        var produtoTreF = $('#produtoTreF').val();

        firebase.database().ref('planejamentos/' + id + '/planejamentoTalhoes/'+idTalhao).set({
            variedade: variedade,
            area_medida: area_medida,
            populacao: populacao,
            adubacao_plantio: adubacao_plantio,
            adubacao_cobertura: adubacao_cobertura,
            regulagem_pulverizador: regulagem_pulverizador,
            regulagem_plantandeira: regulagem_plantandeira,
            dessecacao_realizado: dessecacao_realizado,
            dessecacao_planejado: produtoD,
            plantio_planejado: produtoP,
            plantio_realizado: plantio_realizado,
            um_ultra_estagio: um_ultra_estagio,
            um_ultra_inseticidas: um_ultra_inseticidas,
            dois_ultra_estagio: dois_ultra_estagio,
            dois_ultra_inseticidas: dois_ultra_inseticidas,
            segundo_fungicida_estagio: segundo_fungicida_estagio,
            segundo_fungicida_fungicida: segundo_fungicida_fungicida,
            terceiro_fungicida_estagio: terceiro_fungicida_estagio,
            terceiro_fungicida_fungicida: terceiro_fungicida_fungicida,
            quarto_fungicida_estagio: quarto_fungicida_estagio,
            quarto_fungicida_fungicida: quarto_fungicida_fungicida,
            talhao: talhao,
            um_ultra_padrao: produtoU,
            dois_ultra_padrao: produtoTwoU,
            segundo_fungicida_padrao: produtoF,
            terceiro_fungicida_padrao: produtoTwoF,
            quarto_fungicida_padrao: produtoTreF
        });
        swal("Planejamento cadastrado com sucesso!", "", "success");
    }
    ;
</script>